@import "../../index.scss";

.umd-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $umd-red;
  width: 100%;
  height: 60px;

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  p {
    color: white;
    font-size: smaller;
    margin: 5px 0;
  }
}
